# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
public/videos/
temporary screenshots/
screenshot.mjs
serve.mjs

# add after done submitting for CSE190

# DESIGN.md
#   git rm -r --cached DESIGN.md
# transcripts/
#   git rm -r --cached transcripts
# REVIEW-PLAN.md
#  git rm -r --cached REVIEW-PLAN.md
# REGRETS.md
#  git rm -r --cached REGRETS.md
# proposal/
# git rm -r --cached proposal

# make sure to git push after